.benefits {
  padding: 50px 0;

  &__inner {
    border-radius: 24px;
    padding: 90px 50px;
    background: url("../img/benefits-bg.png") center / cover no-repeat;
    background-color: #e9f0f2;
  }

  &__head {
    margin-bottom: 50px;
  }

  &__title {
    max-width: 620px;
  }

  &__content {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr 0.9fr;
    gap: 19px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin: -10px 0;
  }

  &__item {
    flex-grow: 1;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 70%);
  }

  &__item-head {
    display: flex;
    align-items: center;

    .benefits__icon {
      margin-bottom: 0;
    }
  }

  &__icon {
    @include icon;

    margin-right: 14px;
    margin-bottom: 14px;
  }

  &__name {
    font-weight: 600;
    font-size: 17px;
    color: #13121e;
  }

  &__text {
    margin-top: 12px;
    font-size: 15px;
  }

  &__img {
    margin: 10px 0;

    picture {
      display: flex;
    }

    img {
      border-radius: 43px;
      height: 95px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .benefits {
    padding: 20px 0;

    .container {
      padding: 0 8px;
    }

    &__btn {
      margin-top: 24px;
      width: 100%;
    }

    &__head {
      margin-bottom: 20px;
    }

    &__inner {
      padding: 50px 16px;
    }

    &__content {
      display: block;
      margin: 0 auto;
      max-width: 500px;

      &.is-active {
        .benefits__btn {
          display: none;
        }

        .benefits__col:nth-child(2) ~ .benefits__col {
          display: flex;
        }
      }
    }

    &__col {
      margin: 0;

      &:nth-child(2) {
        flex-direction: column-reverse;

        ~ .benefits__col {
          display: none;
        }
      }
    }

    &__item {
      margin: 6px 0;
    }

    &__img {
      margin: 6px 0;

      img {
        border-radius: 100px;
        width: 100%;
        height: auto;
        max-height: 200px;
      }
    }
  }
}