.certificates {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 24px;
    padding: 0 50px;
    height: 640px;
    background: url("../img/certificates-decor.png") bottom left 242px no-repeat;
    background-color: #e9f0f2;
  }

  &__left {
    padding: 90px 0;
  }

  &__title {
    margin: 38px 0 28px;
    max-width: 500px;
  }

  &__text {
    max-width: 346px;
    font-weight: 600;
    font-size: 18px;
  }

  &__right {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  &__line {
    animation: move-down 25s linear infinite;

    &--inverse {
      animation: move-down 30s linear infinite reverse;
    }

    @include hover {
      animation-play-state: paused;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    max-height: 430px;
    filter: grayscale(1);
    transition: filter $transition;

    picture {
      display: flex;
    }

    img {
      border-radius: 16px;
    }

    @include hover {
      filter: grayscale(0);
    }
  }
}

@keyframes move-down {
  0% {
    transform: translate3d(0, -100%, 0);
  }

  100% {
    transform: translate3d(0, 35%, 0);
  }
}

@keyframes move-left {
  0% {
    transform: translate3d(-150%, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0);
  }
}

@media screen and (max-width: 1024px) {
  .certificates {
    padding: 20px 0;

    .container {
      padding: 0 8px;
    }

    &__right {
      display: block;
      margin: 0 -24px;
    }

    &__left {
      margin-bottom: 28px;
      padding: 0;
    }

    &__item {
      @include mr(8px);

      flex-shrink: 0;
      margin-bottom: 0;
      animation: move-left 25s linear infinite;

      img {
        width: 220px;
      }

      &:focus,
      &:active {
        filter: grayscale(0);
      }
    }

    &__line {
      @include mb(7px);

      display: flex;
      flex-wrap: nowrap;
      animation: none;

      &:focus,
      &:active {
        animation-play-state: paused;
      }

      &--inverse {
        animation: move-left 30s linear infinite reverse;
      }
    }

    &__title {
      margin: 16px -10px 0 0;
    }

    &__text {
      margin-left: auto;
    }

    &__inner {
      display: block;
      border-radius: 16px;
      padding: 50px 16px 35px;
      height: auto;
      background: url("../img/certificates-decor-mobile.png") top 170px left 22px / 110px no-repeat;
      background-color: #d9d9d9;
    }
  }
}

@media screen and (max-width: 570px) {
  .certificates {
    &__item {
      img {
        width: 134px;
      }
    }

    &__text {
      max-width: 170px;
      font-weight: 500;
      font-size: 13px;
      color: #282730;
    }
  }
}