.certificates {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    padding: 0 50px;
    background: url("../img/certificates-decor.png") bottom left 242px no-repeat;
    background-color: #e9f0f2;
  }

  &__left {
    padding: 90px 0;
  }

  &__title {
    margin: 38px 0 15px;
    max-width: 500px;
  }

  &__text {
    max-width: 342px;
  }

  &__right {
  }

  &__images {
    picture {
      display: flex;
    }
  }
}
