.contacts {
  padding-top: 50px;

  &__inner {
    display: grid;
    grid-template-columns: 1.95fr 1fr;
    border: 1px solid #fff;
    border-radius: 24px 24px 0 0;
    padding: 90px 50px;
    background-color: #e9f0f2;
    gap: 40px;
  }

  &__title {
    margin: auto 20px 40px 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__map {
    display: flex;

    iframe {
      border-radius: 16px;
      width: 100%;
      filter: grayscale(1);
    }
  }

  &__item {
    @include mb(20px);

    display: flex;
    align-items: center;

    a {
      @include hover {
        text-decoration: underline;
      }
    }

    &:first-child {
      align-items: flex-start;
    }
  }

  &__icon {
    @include icon(34px);

    margin-right: 22px;
  }

  &__desc {
    @include mb(2px);

    display: block;
    font-weight: 600;
    font-size: 18px;
    color: #13121e;
  }
}