.form {
  &__item {
    display: block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__input {
    border: 1px solid #c7c7c7;
    border-radius: 10px;
    padding: 18px;
    width: 100%;
  }

  &__items {
    margin-bottom: 40px;
  }

  &__btn {
    margin-bottom: 12px;
    width: 100%;
  }

  &__caption {
    font-size: 11px;
    line-height: 1.5;
    text-align: center;
    color: #6f6f72;

    a {
      font-weight: 600;
      color: #282730;

      @include hover {
        text-decoration: underline;
      }
    }
  }
}
