.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 4;
  padding: 15px 0;
  width: 100%;
  color: $black-color;
  background: #d9e8f5;
  transition: background $transition;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    margin-right: 60px;
  }

  &__languages {
    position: relative;
    margin-right: 40px;

    &-current {
      position: relative;
      padding: 4px 11px;
      font-weight: 700;
      cursor: pointer;
      user-select: none;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 9px;
        width: 9px;
        height: 8px;
        background: url("../img/select-icon.svg") center no-repeat;
        user-select: none;
      }
    }

    &-list {
      position: absolute;
      left: 0;
      top: 100%;
      display: none;
      border-radius: 3px;
      width: 100%;
      text-align: center;
      background: #d9e8f5;

      a {
        display: block;
        border-radius: 3px;
        padding: 8px;
        transition: background-color $transition;

        @include hover {
          /* stylelint-disable-next-line scss/no-global-function-names */
          background-color: darken(#d9e8f5, 10%);
        }
      }
    }

    &.is-active {
      .header__languages-list {
        display: block;
      }
    }
  }

  &__phone {
    position: relative;
    display: inline-block;
    margin-right: 40px;
    padding: 3px 0 3px 34px;
    font-family: "Prosto One", serif;
    font-weight: 400;
    line-height: normal;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 24px;
      height: 24px;
      background: url("../img/phone-icon.svg") center no-repeat;
    }

    @include hover {
      text-decoration: underline;
    }
  }

  &__nav {
    margin-right: 30px;
    font-size: 14px;

    ul {
      display: flex;
    }

    li {
      @include mr(30px);
    }

    a {
      position: relative;
      display: block;
      transition: $transition;

      &::before {
        content: "";
        position: absolute;
        left: -12px;
        top: 50%;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: #ee751a;
        opacity: 0;
        transform: translateY(-50%);
        transition: $transition;
      }

      @include hover {
        // color: #000;
        text-shadow: 0.5px 0 0 $black-color;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__burger {
    margin-left: 24px;
  }

  &.is-fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(217, 232, 245, 50%);
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
}

.header-single {
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {
  .header {
    &__nav {
      font-size: 20px;

      ul {
        display: block;
      }

      li {
        @include mr(0);
      }

      a {
        display: block;
        padding: 12px;
      }
    }
  }
}