.lead {
  padding: 120px 0;
  background: #100f14;

  &__decor {
    &--1 {
      right: 142px;
      top: -80px;
    }

    &--2 {
      right: 64px;
      top: 8px;
    }
  }

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    gap: 60px;
  }

  &__left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }

  &__img {
    margin-bottom: 16px;

    picture {
      display: flex;
    }

    img {
      border-radius: 16px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &--main {
      margin: 0;
    }
  }

  &__title {
    margin: 47px 0;
    font-size: 40px;
    line-height: 1.34;
    color: #fff;
  }
}
