.reviews {
  padding: 120px 0;
  background-color: #d9e8f5;

  .slider-pagination {
    display: none;
  }

  &__inner {
    display: flex;
  }

  &__left {
    position: relative;
    width: 100%;
    max-width: 442px;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin: 90px 0 43px;
  }

  &__decor-face {
    position: absolute;
    right: 94px;
    top: 8px;
  }

  &__decor-box {
    position: absolute;
    right: -12px;
    top: 71px;
    border-radius: 12px;
    padding: 10px 12px;
    background-color: #fff;
  }

  &__decor-stars {
    display: flex;

    li {
      margin: 0 1px;
      opacity: 0;
      transform: scale(0);
      transform-origin: center;
      animation: stars-fade 0.3s forwards;
      animation-play-state: paused;

      &:nth-child(2) {
        animation-delay: 0.3s;
      }

      &:nth-child(3) {
        animation-delay: 0.6s;
      }

      &:nth-child(4) {
        animation-delay: 0.9s;
      }

      &:nth-child(5) {
        animation-delay: 1.2s;
      }
    }

    &.is-animated {
      li {
        animation-play-state: running;
      }
    }
  }

  &__decor-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #13121e;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    padding-left: 45px;
    width: 100%;
    gap: 12px;
  }

  &__item {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 295px;
    background: rgba(255, 255, 255, 70%);

    &:first-child {
      margin-left: auto;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__avatar {
    @include icon-hover;

    flex-shrink: 0;
    margin-right: 10px;

    picture {
      display: flex;
    }

    img {
      border-radius: 50%;
      width: 48px;
      height: 48px;
    }
  }

  &__name {
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 15px;
    color: #08080d;
  }

  &__date {
    font-size: 13px;
    color: #282730;
  }

  &__text {
    margin-bottom: 16px;
    font-size: 13px;
    color: #282730;
  }

  &__more-wrapper {
    text-align: right;
  }

  &__more {
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    text-align: right;
    color: #08080d;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: #08080d;
      transition: width $transition;
    }

    @include hover {
      &::before {
        width: 100%;
      }
    }
  }
}

@keyframes stars-fade {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media screen and (max-width: 1280px) {
  .reviews {
    &__left {
      max-width: 380px;
    }

    &__item {
      max-width: 270px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .reviews {
    padding: 50px 0;
    background-color: #e8eff0;

    .slider-pagination {
      display: block;
    }

    &__decor-box {
      left: auto;
      right: 0;
      top: 10px;
    }

    &__decor-face {
      left: auto;
      right: 5px;
      top: 67px;
      z-index: 2;

      img {
        width: 56px;
        height: 56px;
      }
    }

    &__title {
      margin: 16px 0 28px;
      max-width: 246px;
    }

    &__inner {
      display: block;
    }

    &__left {
      margin-bottom: 28px;
      max-width: 100%;
    }

    &__right {
      margin-right: -15px;
      margin-bottom: 28px;
    }

    &__btn {
      width: 100%;
    }

    &__item {
      border-radius: 12px;
      width: 295px;
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}