.reviews {
  padding: 120px 0;
  background-color: #d9e8f5;

  &__inner {
    display: flex;
  }

  &__left {
    position: relative;
    max-width: 442px;
  }

  &__title {
    position: relative;
    z-index: 2;
    margin-top: 110px;
  }

  &__decor {
    position: absolute;
    right: 80px;
    top: 25px;
  }

  &__decor-box {
    position: absolute;
    right: -32px;
    top: 83px;
    border-radius: 12px;
    padding: 10px 12px;
    background-color: #fff;
  }

  &__decor-stars {
    display: flex;
    margin-bottom: 5px;

    li {
      margin: 0 1px;
    }
  }

  &__decor-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    color: #13121e;
  }

  &__row {
    @include mb(12px);

    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    gap: 12px;

    &:first-child {
      margin-left: 150px;
    }
  }

  &__item {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 70%);
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 14px;
  }

  &__avatar {
    flex-shrink: 0;
    margin-right: 10px;

    picture {
      display: flex;
    }

    img {
      border-radius: 50%;
      width: 48px;
      height: 48px;
    }
  }

  &__name {
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 14px;
    color: #13121e;
  }

  &__date {
    font-size: 13px;
  }

  &__text {
    margin-bottom: 16px;
    font-size: 13px;
  }

  &__more-wrapper {
    text-align: right;
  }

  &__more {
    font-size: 13px;
    line-height: 1.2;
    text-align: right;
    color: #13121e;

    @include hover {
      text-decoration: underline;
    }
  }
}
