.services {
  padding: 120px 0;
  color: #fff;
  background-color: #100f14;

  &__head {
    margin-bottom: 50px;
  }

  &__title {
    margin-right: 10px;
    max-width: 940px;
  }

  &__content {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1.55fr;
  }

  &__right {
    border: 1px solid rgba(255, 255, 255, 16%);
    border-radius: 12px;
    padding: 30px;
    background: rgba(246, 249, 250, 8%);
  }

  &__tab-content {
    display: none;
    flex-direction: column;
    height: 100%;

    &.is-active {
      display: flex;
    }
  }

  &__subtitle {
    margin-bottom: 12px;
    font-size: 32px;
    line-height: 1.2;
  }

  &__caption {
    margin-bottom: 24px;
    border-left: 4px solid $accent-color;
    padding-left: 12px;
    max-width: 613px;
    color: #d6d6d6;

    b {
      font-weight: 700;
    }
  }

  &__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__img {
    position: relative;

    picture {
      display: flex;
    }

    img {
      width: 100%;
      min-height: 120px;
    }

    &:first-child {
      img {
        border-radius: 10px 0 0 10px;
      }
    }

    &:last-child {
      img {
        border-radius: 0 10px 10px 0;
      }
    }
  }

  &__img-caption {
    position: absolute;
    left: 0;
    top: 20px;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: #fff;
    border-radius: 0 8px 8px 0;
    padding: 4px 16px;
    font-weight: 600;
    font-size: 12px;
    color: #1a1a1a;
    background: rgba(255, 255, 255, 70%);
  }

  &__info {
    padding-top: 24px;

    p {
      margin-bottom: 14px;
      font-weight: 500;
      color: #d6d6d6;
    }
  }

  &__info-title {
    margin-bottom: 14px;
    max-width: 440px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__steps {
    counter-reset: steps;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 16px;
    gap: 10px;

    li {
      counter-increment: steps;
      position: relative;
      border-radius: 12px;
      padding: 12px 12px 12px 43px;
      font-size: 13px;
      background: rgba(244, 248, 248, 10%);

      &::before {
        content: "0" counter(steps) ".";
        position: absolute;
        left: 12px;
        top: 12px;
        font-family: "Prosto One", serif;
        font-size: 14px;
        color: $accent-color;
      }
    }

    &--five {
      li:first-child {
        grid-row: span 2;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    border-radius: 12px;
    padding: 8px;
    background: rgba(0, 0, 0, 40%);
  }

  &__price {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding-left: 9px;

    &::before {
      content: "";
      display: block;
      flex-shrink: 0;
      margin-right: 10px;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: $orange-color;
    }
  }

  &__price-caption {
    margin-right: 10px;
  }

  &__price-value {
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-size: 17px;

    span {
      font-size: 22px;
    }
  }

  &__garanty {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    color: #d6d6d6;

    img {
      margin-right: 13px;
    }

    b {
      font-weight: 700;
    }
  }
}

.services-tabs {
  padding-top: 12px;

  &__box {
    @include mb(25px);
  }

  &__head {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__icon {
    @include icon(42px);

    margin-right: 16px;
  }

  &__title {
    max-width: 324px;
    font-weight: 600;
    font-size: 18px;
  }

  &__item {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }

    &.is-active {
      .services-tabs__name {
        color: $black-color;
        background-color: $accent-color;

        &::after {
          opacity: 1;
        }
      }
    }

    @include hover {
      &:not(.is-active) .services-tabs__name {
        border-color: rgba(255, 255, 255, 20%);

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__name {
    position: relative;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 40px 10px 20px;
    font-size: 15px;
    background: rgba(255, 255, 255, 8%);
    transition: 0.3s;
    cursor: pointer;

    &::after,
    &::before {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      border-radius: 50%;
      width: 21px;
      height: 21px;
      opacity: 0;
      transform: translateY(-50%);
      transition: $transition;
    }

    &::before {
      background: url("../img/arrow-right-icon-2.svg") center no-repeat;
      background-color: $accent-color;
    }

    &::after {
      background: url("../img/arrow-right-white-icon.svg") center no-repeat;
      background-color: #08080d;
    }
  }
}

@media screen and (max-width: 1280px) {
  .services__subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .services {
    padding: 50px 0;

    &__head {
      margin-bottom: 28px;
    }

    &__content {
      display: block;
    }

    &__tab-content {
      border: 1px solid rgba(255, 255, 255, 16%);
      border-radius: 12px;
      padding: 16px;
      background: rgba(246, 249, 250, 8%);
    }

    &__img {
      &:first-child {
        img {
          border-radius: 12px 0 0 12px;
        }
      }

      &:last-child {
        img {
          border-radius: 0 12px 12px 0;
        }
      }
    }

    &__subtitle,
    &__right {
      display: none;
    }
  }

  .services-tabs {
    &__box {
      &:first-child {
        .services-tabs__title {
          max-width: 214px;
        }
      }
    }

    &__item {
      &.is-active {
        margin-bottom: 20px;

        .services__tab-content {
          border-radius: 0 0 12px 12px;
        }

        .services-tabs__name {
          border-radius: 12px 12px 0 0;

          &::after {
            transform: translateY(-50%) rotate(90deg);
          }
        }
      }
    }

    &__icon {
      width: 46px;
      height: 46px;

      img {
        width: 31px;
      }
    }

    &__name {
      padding: 12px 45px 12px 20px;

      &::after {
        width: 26px;
        height: 26px;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .services {
    &__img-caption {
      top: 12px;
      font-size: 11px;
    }

    &__footer {
      display: block;
      margin: 0 -16px -16px;
      border-radius: 0 0 12px 12px;
      padding: 20px 16px 16px;
      text-align: center;
    }

    &__price {
      justify-content: center;
      margin-bottom: 20px;
    }

    &__btn {
      width: 100%;
      max-width: 500px;
    }

    &__steps {
      display: block;

      li {
        @include mb(7px);
      }
    }
  }
}