.webp .team {
  background: url("../img/team-bg.webp") center / cover no-repeat;
  background-color: #100f14;
}

.team {
  padding: 120px 0;
  background: url("../img/team-bg.jpg") center / cover no-repeat;
  background-color: #100f14;

  .section__counter {
    margin-top: 0;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__item {
    overflow: hidden;

    &:nth-child(even) .team__img::after {
      background-image: url("../img/team-gradient-2.png");
    }

    @include hover {
      .team {
        &__img {
          &::after {
            height: 70%;
            opacity: 1;
            filter: brightness(1.3);
          }

          img {
            transform: scale(1.05);
          }
        }

        &__info {
          transform: translateY(-30px);
        }

        &__btn {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  &__item-inner {
    position: relative;
    display: block;
  }

  &__btn {
    position: absolute;
    right: 27px;
    bottom: 16px;
    z-index: 4;
    padding-right: 22px;
    font-weight: 600;
    font-size: 14px;
    color: #f4f4fc;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: $transition;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 13px;
      height: 25px;
      background: url("../img/arrow-right-icon.svg") center right no-repeat;
      transform: translateY(-50%);
      transition: $transition;
    }

    @include hover {
      &::before {
        width: 100%;
      }

      &:focus,
      &:active {
        &::before {
          width: 100%;
        }

        &::after {
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  &__img {
    position: relative;
    border-radius: 16px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      z-index: 1;
      border-radius: 16px;
      width: 100%;
      height: 50%;
      background: linear-gradient(358.03deg, #000 -1.34%, rgba(0, 0, 0, 0%) 79.96%);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      z-index: 2;
      border-radius: 16px;
      width: 100%;
      height: 50%;
      background: url("../img/team-gradient-1.png") center / cover no-repeat;
      opacity: 0.8;
      transition: 0.4s;
    }

    picture {
      display: flex;
      overflow: hidden;
      border-radius: 16px;
      height: 100%;
    }

    img {
      border-radius: 16px;
      width: 100%;
      height: 100%;
      max-height: 360px;
      transition: 0.4s;
    }
  }

  &__info {
    position: absolute;
    left: 24px;
    bottom: 24px;
    z-index: 3;
    min-height: 77px;
    transition: 0.4s;
  }

  &__name {
    margin-bottom: 7px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
  }

  &__caption {
    position: relative;
    padding-left: 20px;
    font-size: 13px;
    color: #d6d6d6;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 6px;
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background: #4e7ac7;
    }
  }
}

@media screen and (max-width: 1024px) {
  .team {
    padding: 50px 0;

    &__title {
      margin-right: -8px;
      max-width: 360px;
    }

    &__info {
      left: 12px;
      bottom: 12px;
    }

    &__content {
      &.is-active {
        .team__item:nth-child(6) ~ .team__item {
          display: block;
        }
      }
    }

    &__list {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 26px;
    }

    &__item {
      &:nth-child(6) ~ .team__item {
        display: none;
      }
    }

    &__name {
      font-size: 18px;
    }

    &__btn-more {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    &__title {
      margin-bottom: 0;
    }

    &__head {
      margin-bottom: 28px;
    }

    &__list {
      display: block;
    }

    &__content {
      &.is-active {
        .team__item:nth-child(4) ~ .team__item {
          display: block;
        }
      }
    }

    &__info {
      position: relative;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      padding: 16px 16px 50px;
      width: 57%;

      &::before {
        content: "";
        position: absolute;
        left: 16px;
        bottom: 20px;
        width: 14px;
        height: 14px;
        background: url("../img/star-blue-icon.svg") center no-repeat;
      }
    }

    &__caption {
      margin-bottom: auto;
      padding-left: 0;
      max-width: 162px;

      &::before {
        display: none;
      }
    }

    &__name {
      margin-top: auto;
      padding-right: 35px;
    }

    &__item-inner {
      display: flex;
      align-items: stretch;
    }

    &__btn {
      right: 16px;
      opacity: 1;
      transform: translateY(0);
    }

    &__img {
      overflow: hidden;
      border-radius: 11px 0 0 11px;
      width: 43%;

      &::before,
      &::after,
      picture,
      img {
        border-radius: 11px 0 0 11px;
      }

      &::before {
        background: linear-gradient(358.03deg, #000 -1.34%, rgba(0, 0, 0, 0%) 79.96%);
      }

      &::after {
        bottom: -5px;
        width: 100%;
        height: 100%;
        background-image: url("../img/team-gradient-1-mobile.png");
        opacity: 1;
        filter: none;
      }

      img {
        max-height: 250px;
      }
    }

    &__item {
      margin-top: 10px;
      border: 1px solid rgba(246, 249, 250, 16%);
      border-radius: 12px;
      background: rgba(246, 249, 250, 3%);
      backdrop-filter: blur(5px);

      &:first-child {
        margin-top: 0;
      }

      &:nth-child(even) .team__img::after {
        background-image: url("../img/team-gradient-2-mobile.png");
      }

      &:nth-child(4) ~ .team__item {
        display: none;
      }
    }
  }
}
