.works {
  padding: 50px 0;
  color: #fff;

  &__inner {
    border-radius: 20px;
    padding: 90px 50px;
    background: url("../img/team-bg.jpg") center / cover no-repeat;
    background-color: rgba(16, 15, 20, 94%);
  }

  &__head {
    margin-bottom: 45px;

    .section__counter {
      margin-top: 30px;
    }
  }

  &__content {
    &.is-active {
      .works {
        &__btn-more {
          display: none;
        }

        &__btn-modal {
          display: inline-block;
        }

        &__item {
          &:nth-child(2) ~ .works__item {
            display: block;
          }
        }
      }
    }
  }

  &__btn-modal {
    display: none;
  }

  &__title {
    max-width: 814px;
  }

  &__list {
    counter-reset: works;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
    gap: 20px;
  }

  &__item {
    counter-increment: works;
    border: 1px solid rgba(246, 249, 250, 16%);
    border-radius: 16px;
    padding: 20px;
    background: rgba(246, 249, 250, 3%);
    backdrop-filter: blur(5px);

    &:nth-child(2) ~ .works__item {
      display: none;
    }
  }

  &__item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__name {
    display: flex;
    align-items: flex-start;
    margin-right: 10px;
    max-width: 370px;
    font-weight: 600;
    font-size: 18px;

    &::before {
      content: "0" counter(works) "/";
      margin-right: 18px;
      font-family: "Prosto One", serif;
      font-weight: 400;
      font-size: 20px;
      text-transform: uppercase;
      color: #fff;
    }
  }

  &__doctors {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    ul {
      display: flex;
    }

    li {
      flex-shrink: 0;
      border: 1px solid #d9d9d9;
      border-radius: 50%;

      &:last-child {
        position: relative;
        z-index: -1;
        margin-left: -14px;
      }
    }

    picture {
      display: flex;
    }

    img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }

  &__doctors-caption {
    margin-right: 10px;
    font-size: 13px;
    color: #9d9d9d;
  }

  &__img {
    user-select: none;

    img {
      border-radius: 16px;
      width: 100%;
    }

    picture {
      display: flex;
      width: 100%;
      height: 100%;
    }

    &--before {
      position: absolute;
      clip-path: polygon(0 0, 50% 0, 50% 100%, 0% 100%);
      inset: 0;
    }
  }

  &__images {
    position: relative;
  }

  &__drag {
    touch-action: none;

    &-line {
      position: absolute;
      left: 50%;
      z-index: 2;
      padding: 0 24px;
      height: 100%;
      transform: translateX(-50%);

      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;
        background-color: #fff;
      }
    }

    &-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 3;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background: url("../img/drag-icon.svg") center no-repeat;
      background-color: rgba(255, 255, 255, 30%);
      transform: translate(-50%, -50%);
      cursor: grab;
    }
  }

  &__captions {
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 4;
    display: flex;
    border: 1px solid rgba(8, 8, 13, 20%);
    border-radius: 22px;
    padding: 6px;
    font-size: 13px;
    color: #fff;
    background: rgba(8, 8, 13, 40%);
    transform: translateX(-50%);
    backdrop-filter: blur(2px);
  }

  &__captions-item {
    border-radius: 16px;
    padding: 2px;
    min-width: 57px;
    line-height: 1.9;
    text-align: center;
    transition: $transition;
    cursor: pointer;

    &:first-child {
      margin-right: 5px;
    }

    &.is-active {
      border-radius: 16px;
      background: #08080d;
    }

    &.is-current {
      color: #08080d;
      background-color: $accent-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .works {
    background: url("../img/team-bg.jpg") center / cover no-repeat;
    background-color: rgba(16, 15, 20, 94%);

    &__name {
      font-weight: 500;
      font-size: 15px;

      &::before {
        margin-right: 12px;
        font-size: 18px;
      }
    }

    &__item {
      border-radius: 12px;
      padding: 18px;
    }

    &__inner {
      border-radius: 0;
      padding: 0;
      background: 0;
    }

    &__doctors-caption {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .works {
    &__list {
      display: block;
      margin-bottom: 28px;
    }

    &__item {
      position: relative;
      margin-top: 16px;
      padding-bottom: 80px;

      &:first-child {
        margin-top: 0;
      }
    }

    &__images {
      margin: 0 -18px;
    }

    &__captions {
      left: auto;
      right: 18px;
      bottom: 18px;
      border: 1px solid rgba(246, 249, 250, 16%);
      border-radius: 22px;
      padding: 6px;
      background-color: transparent;
      transform: none;

      &-item {
        min-width: 63px;
      }
    }

    &__doctors {
      position: absolute;
      left: 18px;
      bottom: 18px;

      img {
        width: 44px;
        height: 44px;
      }
    }

    &__img {
      img {
        border-radius: 0;
      }
    }

    &__btn-more,
    &__btn-modal {
      width: 100%;
    }
  }
}