:root {
  --content-width: 1240px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + var(--container-offset) * 2);
}

/* stylelint-disable */

/* stylelint-disable */

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  outline-color: rgba(167, 197, 223, 0.2);
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #41404e;
  background-color: #fff;
}

img,
video {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
select,
textarea {
  font: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  height: 100%;
  max-width: var(--container-width);
}

.is-hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.disable-scroll {
  overflow: hidden;
}

.disable-scroll body {
  overflow: hidden;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background: #fff;
}

.input-reset[type=number] {
  -moz-appearance: textfield;
}

.input-reset::-webkit-search-decoration,
.input-reset::-webkit-search-cancel-button,
.input-reset::-webkit-search-results-button,
.input-reset::-webkit-outer-spin-button,
.input-reset::-webkit-inner-spin-button,
.input-reset::-webkit-search-results-decoration {
  display: none;
}

.text-center {
  text-align: center;
}

.section {
  counter-increment: section;
  overflow: hidden;
}

.section-counter {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #222;
}

.section-counter::before {
  content: "(0" counter(section) ")";
  margin-right: 10px;
}

.section-counter::after {
  content: "";
  display: block;
  width: 27px;
  height: 12px;
  background: url("../img/counter-icon.svg") center no-repeat;
}

.title {
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.24;
  text-transform: uppercase;
  color: #08080d;
}

.overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 8;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 30, 30, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.overlay.is-active {
  opacity: 1;
}

.burger {
  position: relative;
  display: none;
  border: none;
  padding: 0;
  width: 18px;
  height: 14px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - 2px);
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 2px;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.is-active {
  z-index: 9;
}

.burger.is-active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.is-active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger.is-active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 15px 28px;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  color: #f5f9fc;
  background: #08080d;
  -webkit-transition: 0.225s ease-in-out;
  -o-transition: 0.225s ease-in-out;
  transition: 0.225s ease-in-out;
  cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #08080d;
  background: #f5f9fc;
}

.btn-star {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 21px 75px 21px 40px;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  text-align: center;
  color: #f5f9fc;
  background: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0L13.5607 11.4393L25 12.5L13.5607 13.5607L12.5 25L11.4393 13.5607L0 12.5L11.4393 11.4393L12.5 0Z' fill='white'/%3E%3C/svg%3E") center right 40px no-repeat;
  background-color: #08080d;
  -webkit-transition: 0.225s ease-in-out;
  -o-transition: 0.225s ease-in-out;
  transition: 0.225s ease-in-out;
  cursor: pointer;
  /* stylelint-disable-next-line order/order */
}

.btn-star:focus,
.btn-star:active {
  color: #08080d;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0L13.5607 11.4393L25 12.5L13.5607 13.5607L12.5 25L11.4393 13.5607L0 12.5L11.4393 11.4393L12.5 0Z' fill='%2308080D'/%3E%3C/svg%3E");
  background-color: #f5f9fc;
}

.btn-star--sm {
  padding: 15px 54px 15px 28px;
  font-size: 14px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L9.18794 6.81206L16 8L9.18794 9.18794L8 16L6.81206 9.18794L0 8L6.81206 6.81206L8 0Z' fill='white'/%3E%3C/svg%3E%0A");
  background-position: center right 28px;
}

.btn-star--sm:focus,
.btn-star--sm:active {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L9.18794 6.81206L16 8L9.18794 9.18794L8 16L6.81206 9.18794L0 8L6.81206 6.81206L8 0Z' fill='%2308080D'/%3E%3C/svg%3E%0A");
}

.header {
  padding: 14px 0 24px;
  color: #192c36;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 60px;
}

.header__languages {
  position: relative;
  margin-right: 40px;
}

.header__languages::after {
  content: "";
  position: absolute;
  right: 0;
  top: 9px;
  width: 9px;
  height: 8px;
  background: url("../img/select-icon.svg") center no-repeat;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__languages select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  border: none;
  border-radius: 0;
  padding: 4px 11px;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-weight: 700;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
}

.header__phone {
  margin-right: 30px;
  font-weight: 700;
  font-size: 17px;
}

.header__nav {
  margin-right: 30px;
  font-size: 14px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav li:not(:last-child) {
  margin-right: 30px;
}

.header__nav a {
  -webkit-transition: color 0.225s ease-in-out;
  -o-transition: color 0.225s ease-in-out;
  transition: color 0.225s ease-in-out;
}

.header__burger {
  margin-left: 24px;
}

.header__left,
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero {
  padding-bottom: 70px;
  background: #d9e8f5;
}

.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__title {
  margin-bottom: 8px;
  width: 820px;
  font-family: "Prosto One", sans-serif;
  font-weight: 400;
  font-size: 57px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #08080d;
}

.hero__left {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 20px;
  padding-top: 54px;
  width: 50%;
}

.hero__text {
  margin-bottom: 65px;
}

.hero__btn {
  margin-bottom: 30px;
}

.hero__benefits {
  margin-top: auto;
}

.hero__right {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50%;
}

.hero__images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hero__images picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__img img {
  border-radius: 16px;
}

.hero__img--main {
  position: relative;
  margin-bottom: 20px;
}

.hero__img--main::before {
  content: "";
  position: absolute;
  left: 50px;
  bottom: 70px;
  width: 89px;
  height: 89px;
  background: url("../img/hero-decor-1.png") center/cover no-repeat;
}

.hero__img--main::after {
  content: "";
  position: absolute;
  right: 38px;
  top: 54px;
  width: 100px;
  height: 100px;
  background: url("../img/hero-decor-2.png") center/cover no-repeat;
}

.hero__img--decor {
  position: relative;
}

.hero__img--decor::before {
  content: "";
  position: absolute;
  right: 40px;
  top: -18px;
  width: 94px;
  height: 94px;
  background: url("../img/hero-decor-3.png") center/cover no-repeat;
}

.hero-benefits {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 1px solid #fff;
  border-radius: 16px;
  padding: 28px;
  background: rgba(255, 255, 255, 0.7);
  gap: 14px 28px;
}

.hero-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-benefits__item:nth-child(1),
.hero-benefits__item:nth-child(2) {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.hero-benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 8px;
  background: #a7c5df;
  margin-right: 14px;
}

.hero-benefits__icon picture,
.hero-benefits__icon img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-benefits__icon picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-benefits__text {
  font-size: 15px;
  line-height: 1.34;
}

.hero-benefits__text b,
.hero-benefits__text strong {
  font-weight: 700;
}

.benefits {
  padding: 50px 0;
}

.benefits .container {
  max-width: calc(var(--container-width) + 100px);
}

.benefits__inner {
  border-radius: 24px;
  padding: 90px 50px;
  background: url("../img/benefits-bg.png") center/cover no-repeat;
  background-color: #e9f0f2;
}

.benefits__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.benefits__title {
  margin-right: 20px;
  max-width: 620px;
}

.benefits__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr 1fr 1fr 0.9fr;
  grid-template-columns: 1.1fr 1fr 1fr 0.9fr;
  gap: 19px;
}

.benefits__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: -10px 0;
}

.benefits__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.benefits__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.benefits__item-head .benefits__icon {
  margin-bottom: 0;
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 8px;
  background: #a7c5df;
  margin-right: 14px;
  margin-bottom: 14px;
}

.benefits__icon picture,
.benefits__icon img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__name {
  font-weight: 600;
  font-size: 17px;
  color: #13121e;
}

.benefits__text {
  margin-top: 12px;
  font-size: 15px;
}

.benefits__img {
  margin: 10px 0;
}

.benefits__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__img img {
  border-radius: 43px;
}

.equip {
  padding: 120px 0;
  background: #f4f8f8;
}

.equip__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
}

.equip__title {
  margin-right: 20px;
  max-width: 950px;
}

.equip__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
}

.equip__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px;
  background: rgba(255, 255, 255, 0.8);
}

.equip__item::before {
  content: "";
  position: absolute;
  right: 17px;
  top: 17px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: url("../img/arrow-icon.svg") center no-repeat;
  background-color: #a7c5df;
}

.equip__item:first-child {
  border-radius: 16px 0 0 16px;
}

.equip__item:last-child {
  border-radius: 0 16px 16px 0;
}

.equip__item:nth-child(even) {
  border: 1px solid #fff;
  background: rgba(217, 232, 245, 0.3);
}

.equip__item:nth-child(even) .equip__img {
  margin-top: auto;
  margin-bottom: 0;
}

.equip__item:nth-child(even) .equip__img img {
  border-radius: 100px;
}

.equip__img {
  margin-bottom: 20px;
  text-align: center;
}

.equip__img picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.equip__img img {
  border-radius: 50%;
}

.equip__info {
  padding-left: 12px;
  font-size: 15px;
}

.equip__name {
  margin-bottom: 5px;
  padding-right: 15px;
  font-weight: 600;
  font-size: 17px;
  color: #13121e;
}

.equip__country {
  margin-bottom: 12px;
  padding-right: 15px;
  font-size: 13px;
}

.equip__line {
  position: absolute;
}

.equip__line--1 {
  left: 15px;
  top: 155px;
}

.equip__line--2 {
  left: 15px;
  top: 28px;
}

.equip__line--3 {
  left: 15px;
  top: 155px;
}

.equip__line--4 {
  left: 15px;
  top: 28px;
}

@media screen and (max-width: 1024px) {
  .header__nav {
    font-size: 20px;
  }

  .header__nav ul {
    display: block;
  }

  .header__nav li:not(:last-child) {
    margin-right: 0;
  }

  .header__nav a {
    display: block;
    padding: 12px;
  }

  .menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 8;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: auto;
    padding: 140px 15px 80px;
    width: 100%;
    max-width: 350px;
    background: #14151b;
    opacity: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .menu.is-active {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  .overlay.is-active {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .burger {
    display: block;
  }
}

@media (any-hover: hover) {
  .btn-star:hover {
    color: #08080d;
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5 0L13.5607 11.4393L25 12.5L13.5607 13.5607L12.5 25L11.4393 13.5607L0 12.5L11.4393 11.4393L12.5 0Z' fill='%2308080D'/%3E%3C/svg%3E");
    background-color: #f5f9fc;
  }

  .btn-star--sm:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0L9.18794 6.81206L16 8L9.18794 9.18794L8 16L6.81206 9.18794L0 8L6.81206 6.81206L8 0Z' fill='%2308080D'/%3E%3C/svg%3E%0A");
  }

  .header__nav a:hover {
    color: #a7c5df;
  }
}
/*# sourceMappingURL=main.css.map */