/* stylelint-disable */

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin mr($value) {
  &:not(:last-child) {
    margin-right: $value;
  }
}

@mixin ml($value) {
  &:not(:last-child) {
    margin-left: $value;
  }
}

@mixin mb($value) {
  &:not(:last-child) {
    margin-bottom: $value;
  }
}

@mixin mt($value) {
  &:not(:last-child) {
    margin-top: $value;
  }
}

@mixin circle($size: 22px, $color: $accent-color) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-color: $color;
}

@mixin icon($size: 40px) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $size;
  height: $size;
  flex-shrink: 0;
  border-radius: 8px;
  background: #a7c5df;

  picture, img {
    display: flex;
  }
}

@mixin bg-circle($size: 324px) {
  position: absolute;
  content: "";
  width: $size;
  height: $size;
  border-radius: 50%;
  background: #F4F8FC;
  filter: blur(50px);
  will-change: filter;
}

@mixin triangle($size: 20px) {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $size $size 0;
  border-color: transparent $accent-color transparent transparent;
}

@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin icon-hover {
  transition: transform $transition;

  @include hover {
    transform: scale(0.95);
  }
}