.btn {
  $transition: 0.25s ease-out;

  position: relative;
  display: inline-block;
  overflow: hidden;
  outline: none;
  border: none;
  border-radius: 12px;
  padding: 0;
  max-width: 500px;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  text-align: center;
  color: #f5f9fc;
  background: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    right: -43px;
    top: 50%;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    background: #08080d;
    transform: translate3d(0, -50%, 0);
    transform-origin: 100% 50%;
    transition: 0.3s cubic-bezier(0, 0, 0.215, 0.975);
  }

  &__wrapper {
    display: block;
    border-radius: 12px;
    padding: 18px 40px;
    background: #fff;
  }

  &__container {
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__inner,
  &__hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: $transition;
    }
  }

  &__inner-text,
  &__hover-text {
    margin-right: 10px;
    transition: $transition;
  }

  /* stylelint-disable-next-line order/order */
  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    img {
      opacity: 0;
      transform: translateX(-10px);
      transition-delay: 0.1s;
    }
  }

  &__hover-text {
    color: #08080d;
    transform: translateY(40px);
  }

  @include hover {
    box-shadow: 0 0 0 1px #08080d;

    &::before {
      transform: translate3d(-86px, -50%, 0) scale(0);
    }

    .btn {
      &__inner {
        img {
          opacity: 0;
          transform: translateX(40px);
        }

        &-text {
          transform: translateY(-40px);
        }
      }

      &__hover {
        img {
          opacity: 1;
          transform: translateX(0);
        }

        &-text {
          transform: translateY(0);
        }
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  &:focus,
  &:active {
    box-shadow: 0 0 0 1px #08080d;

    &::before {
      transform: translate3d(-86px, -50%, 0) scale(0);
    }

    .btn {
      &__inner {
        img {
          opacity: 0;
          transform: translateX(40px);
        }

        &-text {
          transform: translateY(-40px);
        }
      }

      &__hover {
        img {
          opacity: 1;
          transform: translateX(0);
          transition-delay: 0.1s;
        }

        &-text {
          transform: translateY(0);
        }
      }
    }
  }

  &:active {
    .btn__hover img {
      transform: translateX(0) rotate(45deg);
    }
  }

  &--transparent {
    box-shadow: 0 0 0 1px #08080d;

    .btn {
      &__wrapper {
        background-color: transparent;
      }

      &__inner-text {
        color: #08080d;
      }

      &__hover-text {
        color: #fff;
      }
    }

    &::before {
      background-color: transparent;
    }

    &:focus,
    &:active {
      .btn__wrapper {
        background-color: #08080d;
      }

      &::before {
        background-color: #08080d;
      }
    }

    @include hover {
      .btn__wrapper {
        background-color: #08080d;
      }

      &::before {
        background-color: #08080d;
      }
    }
  }

  &--sm {
    font-size: 14px;

    .btn {
      &__wrapper {
        padding: 12px 28px;
      }

      &__inner img {
        width: 15px;
      }

      &__hover img {
        width: 12px;
      }
    }

    &:focus,
    &:active {
      &::before {
        transform: translate3d(-75px, -50%, 0) scale(0);
      }
    }

    @include hover {
      &::before {
        transform: translate3d(-75px, -50%, 0) scale(0);
      }
    }
  }

  &--border-white {
    box-shadow: 0 0 0 1px #fff;
  }

  &--accent {
    .btn {
      &__wrapper {
        background-color: #08080d;
      }

      &__inner-text {
        color: #08080d;
      }

      &__hover-text {
        color: #fff;
      }
    }

    /* stylelint-disable-next-line order/order */
    &::before {
      background-color: $accent-color;
    }

    @include hover {
      box-shadow: 0 0 0 1px $accent-color;
    }

    /* stylelint-disable-next-line order/order */
    &:focus,
    &:active {
      box-shadow: 0 0 0 1px $accent-color;
    }
  }
}

@media screen and (max-width: 1024px) {
  .btn--sm .btn__wrapper {
    padding: 18px 28px;
  }

  .btn {
    font-size: 14px;

    &__wrapper {
      padding: 18px 28px;
    }

    &__inner img {
      width: 15px;
    }

    &__hover img {
      width: 12px;
    }

    &:focus,
    &:active {
      &::before {
        transform: translate3d(-75px, -50%, 0) scale(0);
      }
    }

    @include hover {
      &::before {
        transform: translate3d(-75px, -50%, 0) scale(0);
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .btn {
    width: 100%;
  }
}