.btn {
  $transition: 0.25s ease-out;

  position: relative;
  display: inline-block;
  overflow: hidden;
  outline: none;
  border: 1px solid #08080d;
  border-radius: 12px;
  padding: 0;
  font-weight: 500;
  font-size: 17px;
  line-height: normal;
  text-align: center;
  color: #f5f9fc;
  background: 0;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    right: -43px;
    top: 50%;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    background: #08080d;
    transform: translate3d(0, -50%, 0);
    transform-origin: 101% 50%;
    transition: 0.3s cubic-bezier(0, 0, 0.215, 0.975);
  }

  &__wrapper {
    display: block;
    border-radius: 12px;
    padding: 18px 40px;
    background: #fff;
  }

  &__container {
    position: relative;
    display: block;
    overflow: hidden;
  }

  &__inner,
  &__hover {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: $transition;
    }
  }

  &__inner-text,
  &__hover-text {
    margin-right: 10px;
    transition: $transition;
  }

  /* stylelint-disable-next-line order/order */
  &__hover {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;

    img {
      opacity: 0;
      transform: translateX(-10px);
      transition-delay: 0.1s;
    }
  }

  &__hover-text {
    color: #08080d;
    transform: translateY(40px);
  }

  @include hover {
    &::before {
      transform: translate3d(-86px, -50%, 0) scale(0);
    }

    .btn {
      &__inner {
        img {
          opacity: 0;
          transform: translateX(40px);
        }

        &-text {
          transform: translateY(-40px);
        }
      }

      &__hover {
        img {
          opacity: 1;
          transform: translateX(0);
        }

        &-text {
          transform: translateY(0);
        }
      }
    }
  }

  /* stylelint-disable-next-line order/order */
  &:focus,
  &:active {
    &::before {
      transform: translate3d(-86px, -50%, 0) scale(0);
    }

    .btn {
      &__inner {
        img {
          opacity: 0;
          transform: translateX(40px);
        }

        &-text {
          transform: translateY(-40px);
        }
      }

      &__hover {
        img {
          opacity: 1;
          transform: translateX(0);
          transition-delay: 0.1s;
        }

        &-text {
          transform: translateY(0);
        }
      }
    }
  }

  &:active {
    .btn__hover img {
      transform: translateX(0) rotate(45deg);
    }
  }

  &--sm {
    font-size: 14px;

    .btn {
      &__wrapper {
        padding: 12px 28px;
      }

      &__inner img {
        width: 15px;
      }

      &__hover img {
        width: 12px;
      }
    }

    &:focus,
    &:active {
      &::before {
        transform: translate3d(-75px, -50%, 0) scale(0);
      }
    }

    @include hover {
      &::before {
        transform: translate3d(-75px, -50%, 0) scale(0);
      }
    }
  }

  &--border-white {
    border: 1px solid #fff;
  }

  &--accent {
    border-color: $accent-color;

    .btn {
      &__wrapper {
        background-color: #08080d;
      }

      &__inner-text {
        color: #08080d;
      }

      &__hover-text {
        color: #fff;
      }
    }

    /* stylelint-disable-next-line order/order */
    &::before {
      background-color: $accent-color;
    }
  }
}
