.burger {
  $burger-width: 38px;
  $burger-height: 38px;
  $burger-line-height: 1px;

  position: relative;
  display: none;
  flex-shrink: 0;
  outline: none;
  border: none;
  border-radius: 8px;
  width: $burger-width;
  height: $burger-height;
  text-align: right;
  color: #000;
  background-color: $accent-color;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: 9px;
    border-radius: 2px;
    width: 100%;
    height: $burger-line-height;
    background-color: currentcolor;
    transition: $menu-transition;
  }

  &::before {
    top: 12px;
    width: 20px;
  }

  &::after {
    top: 25px;
    width: 10px;
  }

  &__line {
    position: absolute;
    right: 9px;
    top: 50%;
    border-radius: 2px;
    width: 15px;
    height: $burger-line-height;
    background-color: currentcolor;
    transform: translateY(-50%);
    transition: transform $menu-transition;
  }

  &.is-active,
  &--close {
    &::before,
    &::after {
      top: 50%;
      width: 20px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    .burger__line {
      transform: scale(0);
    }
  }
}

@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
}
